<div class="contents row">
  <div class="container">
    <h3>シフト提出</h3>
    <%# 仮置き、プルダウンメニューに変更予定 %>
    <%= form_with(model: @schedules, local: true) do |form| %>
      <%= form.text_field :name, placeholder: "名前" %>
      <%= form.text_field :work_time, placeholder: "勤務時間帯" %>
      <%= form.text_field :start_time, placeholder: "勤務日" %>
      <%= form.submit "提出" %>
    <% end %>
    <%# 仮置き、プルダウンメニューに変更予定 %>
  </div>
</div>