<div class="contents row">
  <div class="container">
    <h3>シフト提出</h3>
    <%# 仮置き、プルダウンメニューに変更予定 %>
    <%= form_with(model: @schedules, local: true) do |form| %>
      <%= form.text_field :start_time, placeholder: "勤務日" %>
      <%= form.text_field :name, placeholder: "名前" %>
      <%= form.collection_select(:work_time_1_id, WorkTime1.all, :id, :name, {}) %>
      <%= form.collection_select(:work_time_2_id, WorkTime2.all, :id, :name, {}) %>
      <%= form.collection_select(:work_time_3_id, WorkTime3.all, :id, :name, {}) %>
      <%= form.submit "提出" %>
    <% end %>
    <%# 仮置き、プルダウンメニューに変更予定 %>
  </div>
</div>