<div class="contents row">
  <div class="container">
    <h2>ログイン</h2>
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>

    <div class="field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field remember_me">
            <%= f.check_box :remember_me, class: "remember_me_check_box" %>
            <%= f.label :remember_me, "メールアドレスを保存する", class: "remember_me_text" %><br />
        </div>
      <% end %>
      <br />

      <div class="field">
        <%= f.label :password, "パスワード" %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field remember_me">
            <%= f.check_box :remember_me, class: "remember_me_check_box" %>
            <%= f.label :remember_me, "パスワードを保存する",  class: "remember_me_text" %><br />
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>

      <%# ※以下未実装 %>
      <%# パスワードを忘れた方 %>
      <%# メールアドレスを忘れた方 %>
      <%# ログインできない方 %>
      <%# ヘルプ %>
      <%= link_to "▶︎新規登録はこちら", new_user_registration_path, class: "helps" %>

    <% end %>
  </div>
</div>
